body {
    background-color: #76323f;
    margin-bottom: 0;
    padding-bottom: 0;
}

img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}


#page {
    background-color: #d7cec7;
    height: 120%;
    padding-bottom: 30%;
}

#title {
    text-align: center;
}

.spacing {
    margin-top: 20px;
}

main.container {
    padding-top: 20px;
}

.contact {
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
}

.galleryimg {
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-color: white;
    display: block;
    margin: 0 auto;
    width: 50%;
}

.carousel-title {
    color: white;
}

.logoname {
    text-align: center;
    font-size: medium;
}

.hor-divider {
    border-width: 2px;
}

.centered-footer {
    text-align: center;
}

.commentbox {
    margin-top: 15%;
}

.row {
    display: flexbox;
}

.footer {
    display: inline-block;
    width: 100%;
    padding-top: 40%;
}

.btn {
    margin-top: 1px;
}